.section6-outer-container {
    background-image: url("../../assets/images/lets enjoy nature with us bg .png");
    /* width: 70%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;

}

.section6-inner-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.section6-left-heading {
    font-weight: 600;
    font-size: 62px;
    line-height: 126%;
    letter-spacing: 0.01em;
    color: #05060A;
    margin-top: 30px;

}

.section6-left-para {
    font-weight: 400;
    font-size: 22px;
    line-height: 146%;
    color: #5D616F;
    margin-top: 30px;
}

.section6-inner-right-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* line-height: 1.5; */
}

.section6-contact-button {
    all: unset;
    width: 181px;
    height: 62px;
    background: #3E82FC;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}